{% extends 'base.html' %}

{% block content %}
<a name="top"></a>
<a href="{% url 'index_view' %}">Home</a> <br>
  {% if request.user.profile.is_owner %}
  <div class="row">
    <div class="col-md-10">
      <div class="panel">
        <div class="panel-body">
          <form class="" action="{% url 'food_create_view' %}" method="post">
              {% csrf_token %}
              <input type="text" name="food" value="" placeholder="Food">
              <input type="text" name="description" value="" placeholder="Description">
              <input type="number" step=".01" name="price" value="" placeholder="Price">
              <input type="submit" name="" value="Submit">
          </form>
        {% endif %}
        <br>
        <div class="menu">
        <h1 class="text_menu"><b>Menu</b></h1>
        <hr>
        {% for food in object_list %}
          <h3 class="text_menu"><b>{{ food.food }}</b></h3> <h4 class="price"><b>${{ food.price }}</b></h4>
          <blockquote>

            {{ food.description }}
          </blockquote>
          <hr>
        {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#top">Top of Page</a>
{% endblock %}
