<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{% url 'logout' %}">Logout</a> <br>
    {% for order in object_list %}
    {% if not order.finished %}

    <h5>{{ order.id }}
      {% for x in order.contents %}
      {{ x }}
      {% endfor %}
      {{ order.finished }} </h5>

    <form class="" action="{% url 'order_update_view' order.id  %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="finished" value="True">
      <input type="hidden" name="paid" value="False">
      <input type="submit" name="" value="done">
    </form>
    {% endif %}
    {% endfor %}
  </body>
</html>
