{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
  </head>
  <body>

    <a name="top"></a>


    <div class="container">
      <a href="{% url 'index_view' %}">Home</a> <br>

      {% for order in object_list %}
      {% if not order.finished %}
    <div class="row" style="height:10vh;">
    </div>


      <div class="row orders">
        <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Order {{ order.id }}:</h2>
              </div>

              <div class="panel-body">
                <a href="{% url 'order_update_view' order.id %}" style="color:blue; font-size:40px;">
                {% for x in order.contents %}
                   {{ x }} |
                {% endfor %}</a>
              </div>
              
            </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <a href="#Top">Top of Page</a>
      </div>

  </body>
</html>
