{% extends 'base.html' %}

{% block content %}

  <a href="{% url 'order_create_view' object.id %}">New Order</a>

  <h1>Table {{ object.id }}</h1>

  {% for order in order_list %}
  {% if not order.paid %}

  <form class="" action="{% url 'order_update_view' order.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="paid" value="True">
    <input type="hidden" name="finished" value="True">
    <input type="submit" name="" value="paid">

    <a href="{% url 'order_detail_view' order.id %}">{{ order.id }}</a> {{ order.server }} <br>
    </form>
    {% endif %}

  {% endfor %}

{% endblock %}
