{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'server_view' %}">Back</a> |
  <a href="{% url 'order_create_view' object.id %}"> New Order</a>
  <div class="row">
    <div class="col-md-11">
      <div class="panel">
        <div class="panel-body">
            <h1>Table {{ object.id }}</h1><br>


            {% for order in order_list %}
            {% if not order.paid %}
        <div class="row">
          <div class="col-md-8" id="order">
          <h3> <a href="{% url 'order_detail_view' order.id %}">Order: {{ order.id }}</a> <br>Server: {{ order.server }}</h3>
          </div>
          <div class="col-md-4">
            <form class="" action="{% url 'order_update_view' order.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="paid" value="True">
              <input type="hidden" name="finished" value="True">
              <input type="submit" style="width:20vh; height:15vh;"name="" value="paid">
              </form>
          </div>

                </div>
              {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
