{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'server_view' %}">Back</a> |
  <a href="{% url 'order_create_view' object.id %}"> New Order</a>
  <div class="row">
    <div class="col-md-11">
      <div class="panel">
        <div class="panel-body">
            <h1>Table {{ object.id }}</h1>
            <h2> {{ object.checker }}</h2>

            {% for order in order_list %}
            {% if not order.paid %}


            <form class="" action="{% url 'order_update_view' order.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="paid" value="True">
              <input type="hidden" name="finished" value="True">
              <input type="submit" name="" value="paid">

              <a href="{% url 'order_detail_view' order.id %}">{{ order.id }}</a> Server: {{ order.server }} <br>
              </form>
              {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
