{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-6">
  <div class="row add_user">
  <h3><a href="{% url 'user_create_view' %}">ADD USER</a></h3>
  </div>
  <div class="row sign_in">
    {% if not request.user.is_authenticated %}
  <h3><a href="{% url 'login' %}">SIGN IN</a></h3>
  {% else %}
  <h3><a href="{% url 'profile_view' %}">EDIT PROFILE</a></h3>
  {% endif %}
  </div>
  <div class="row logout">
  <h3><a href="{% url 'logout' %}?next={% url 'index_view' %}">LOGOUT</a></h3>
  </div>

</div>


  <div class="col-md-6" id="right">
    {% if request.user.profile.status == "c" %}
<a href="{% url 'cook_view' %}" class="btn btn-info" id="register" role="button"><h1 class="option">Orders</h1></a>

{% elif request.user.profile.status == "o" %}
<a href="{% url 'food_list_view' %}" class="btn btn-info" id="register" role="button"><h1 class="option">Menu</h1></a>

{% elif request.user.profile.status == "s" %}
<a href="{% url 'server_view' %}" class="btn btn-info" id="register" role="button"><h1 class="option">Tables</h1></a>

{% else %}
{% if request.user.is_authenticated %}
<a href="{% url 'profile_view' %}" class="btn btn-info" id="register" role="button"><h1 class="option">Register Employee</h1></a>
{% else %}
<h2>Please create account or sign in</h2>
{% endif %}
{% endif %}

  </div>

</div>


{% endblock %}
