{% extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row" style="height:20vh;">

  </div>
  <div class="row">
<div class="col-md-3">

</div>
<div class="col-md-8">
  <form class="" action="{%url 'order_update_view' order.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="finished" value="True">
    <input type="hidden" name="paid" value="False">
    <input type="submit" id="cooked" name="" value="DONE" style="height:50vh; width:80vh; padding-top:1vh; background-color:red; font-size: 40px;">
  </form>

</div>



  </div>
</div>


{% endblock%}
