{% extends 'base.html' %}

{% block content %}
<a href="{% url 'index_view' %}">Home</a>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
          <h1>Welcome Server {{ request.user }}</h1>


          <div class="row">
            <div class="col-md-3">
                <button type="button" onClick="location.href='{% url 'table_detail_view' 1 %}'" class="btn btn-primary"> Table 1 <br>{{ tables.0.checker }}</button>
                <button type="button" onClick="location.href='{% url 'table_detail_view' 2 %}'" class="btn btn-primary"> Table 2 <br>{{ tables.1.checker }}</button>
                <button type="button" onClick="location.href='{% url 'table_detail_view' 3 %}'" class="btn btn-primary"> Table 3 <br>{{ tables.2.checker }}</button>
            </div>
            <div class="col-md-3">
                <button type="button" onClick="location.href='{% url 'table_detail_view' 4 %}'" class="btn btn-primary"> Table 4 <br>{{ tables.3.checker }}</button>
                <button type="button" onClick="location.href='{% url 'table_detail_view' 5 %}'" class="btn btn-primary"> Table 5 <br>{{ tables.4.checker }}</button>
                <button type="button" onClick="location.href='{% url 'table_detail_view' 6 %}'" class="btn btn-primary"> Table 6 <br>{{ tables.5.checker }}</button>
            </div>
            <div class="col-md-3">
                <button type="button" onClick="location.href='{% url 'table_detail_view' 7 %}'" class="btn btn-primary"> Table 7 <br>{{ tables.6.checker }}</button>
                <button type="button" onClick="location.href='{% url 'table_detail_view' 8 %}'" class="btn btn-primary"> Table 8 <br>{{ tables.7.checker }}</button>
                <button type="button" onClick="location.href='{% url 'table_detail_view' 9 %}'" class="btn btn-primary"> Table 9 <br>{{ tables.8.checker }}</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
