{% extends 'base.html' %}

{% block content %}
  <h1>Server</h1>
  <div class="row">
    <div class="col-md-3">
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 1 </button>
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 2 </button>
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 3 </button>
    </div>
    <div class="col-md-3">
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 4 </button>
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 5 </button>
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 6 </button>
    </div>
    <div class="col-md-3">
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 7 </button>
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 8 </button>
        <button type="button" onClick="location.href='/'" class="btn btn-primary"> Table 9 </button>
    </div>
  </div>

{% endblock %}
